In [1]:
import numpy as np
import pandas as pd

In [2]:
# 한 셀에서 여려 결과 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### pandas
> numpy 기반 데이터분석 라이브러리   
> pandas : series(1차원배열), dataframe(2차원 배열)

#### series
- 판다스 기본 객체 중 하나
- 같은 타입의 데이터를 저장하는 1차원 배열
- 인덱스의 value가 일대일로 대응

In [3]:
a = pd.Series([1, 2, 3])
b = pd.Series((1, 2, 3))
c = pd.Series({'a':64, 'b':65})
d = pd.Series(range(5))

# index 지정
e = pd.Series([1, 2, 3], ['a', 'b', 'c'])

# index로 call
# print(e[0]) # 위치기반 인덱싱
print(e.iloc[0])
# print(e['a']) # 라벨기반 인덱싱
print(e.loc['a']) 
print(e.at['a'])
print(e.iat[0])

1
1
1
1

In [4]:
s = pd.Series([0, 1, 3.3])

# 결측치 있을 시, 실수로
t = pd.Series([0, None, np.nan, 3])
t

0    0.0
1    NaN
2    NaN
3    3.0
dtype: float64

In [5]:
d= pd.Series({"naem" : "ayj", "age" : 30, "type" : "human"})
print(d.index)
print(d.values)

Index(['naem', 'age', 'type'], dtype='object')
['ayj' 30 'human']

In [6]:
e = pd.Series({"ayj":"120", "fak":150, "hjh":180})
e.index.name = '이름'
e.name = '성적'
e

이름
ayj    120
fak    150
hjh    180
Name: 성적, dtype: object

#### Create

In [7]:
e["iyh"] = 200
# e.loc['jyc'] = 210
e

이름
ayj    120
fak    150
hjh    180
iyh    200
Name: 성적, dtype: object

#### Read
1. 0~base 인덱스를 사용한 슬라이싱   
    .iloc[start:end] : start - end-1 까지 추출   
2. 라벨 인덱스를 활용한 슬라이싱   
    .loc["시작라벨":"끝라벨"] : 시작에서 끝까지 양쪽라벨을 포함한 범위 추출

In [8]:
city = pd.Series({
    '서울' : 9631482,
    '부산' : 3393191,
    '인천' : 2632035,
    '대전' : 1490158})
city.index

Index(['서울', '부산', '인천', '대전'], dtype='object')

In [9]:
city[1:3]
city.iloc[1:3]
city["서울":"대전"]
city.loc["서울":"대전"]
city.loc[["서울","대전"]]
# city.iloc[[0, 2]]

부산    3393191
인천    2632035
dtype: int64

부산    3393191
인천    2632035
dtype: int64

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

서울    9631482
대전    1490158
dtype: int64

#### 벡터화 연산
- 벡터화연산 : 집합형 자료형의 요소 각각에 대해 계산을 수행

In [10]:
t = pd.Series([1, 2, 3,])
print(t + 10)
print(t - 10)
print(t / 10)
print(t * 10)

print(t >= 2 & False)

0    11
1    12
2    13
dtype: int64
0   -9
1   -8
2   -7
dtype: int64
0    0.1
1    0.2
2    0.3
dtype: float64
0    10
1    20
2    30
dtype: int64
0    True
1    True
2    True
dtype: bool

In [22]:
city > 2700000
city.loc[pd.Series([True, True, False, False], index=["서울", "부산", "인천", "대전"])]
city.loc[city > 2700000]
city.loc[(city > 2700000)&(city < 5000000)]

# 인구수가 짝수인 도시
city.loc[(city%2==0)]

서울     True
부산     True
인천    False
대전    False
dtype: bool

서울    9631482
부산    3393191
dtype: int64

서울    9631482
부산    3393191
dtype: int64

부산    3393191
dtype: int64

서울    9631482
대전    1490158
dtype: int64

#### 시리즈 속성 및 메서드
1. size
2. shape
3. len()
4. unique()
5. count()
6. mean()
7. value_counts()

In [38]:
s5 = pd.Series([1, 1, 2, 1, 2, np.nan, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.nan])
s5.size
s5.shape
len(s5)
s5.unique()
s5.count() # 결측 제외됨
s5.mean()
s5.value_counts()

# s5에서 평균보다 큰 요소를 저장하고 잇는 시리즈 출력
s5.loc[s5 > s5.mean()]

17

(17,)

17

array([ 1.,  2., nan,  3.,  4.,  5.,  7.])

np.int64(15)

np.float64(2.6666666666666665)

1.0    5
2.0    4
3.0    2
5.0    2
4.0    1
7.0    1
Name: count, dtype: int64

10    3.0
11    3.0
12    4.0
13    5.0
14    5.0
15    7.0
dtype: float64